/*HOME PAGE*/

.wrapper{
    background-color: orange;
    color:black;
}

.logo img{
    height: 115px;
}

.institute_name{
    text-align: center;
}

.address{
    margin-top: 7%;
    margin-left: 57%;
}

.navbar-nav > li > a{
    color: black;
}

.institute{
    background-color: #FFF;
    margin-top: 7%;
}

.leftContent {
    float: left;
    width: 97.3%;
    background-color: white;
    padding: 15px;
    margin-top: -20%;
    margin-left: 2%
}

h3.facilities_head {
    border-bottom: 2px solid #043737;
    padding-bottom: 10px;
    font-weight: normal;
}

.leftContent ul {
    margin-top: 22px;
    margin-left: 15px;
    float: left;
    margin-right: 40px;
}

.footer{
    margin-left: -1.2%;
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 102.6%;
}

a{
    color:black;
}

.feature{
    background-color: white;
    width: 100%;
    height: 109px;
    padding: 1%;
    border-radius: 3px;
    border:1px solid orange;
}

.feature_image{
    height: 100px;
    width: 100%;
    border-radius: 4px;
    margin-left: -14%;
}

.feature_description{
    padding-left: 0%;
    margin-left: -17%;
    text-align: justify;
}

/*END OF HOME PAGE*/


/*.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}*/




.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}





